<%- include('./header.ejs') %>

<!-- course -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h5 class="mt-2 mb-3" style="font-style: italic; font-family: system-ui">
        Course Registration means the official recording of a student's name to
        study a course or courses.
      </h5>
    </div>
    <!--col-12-->
  </div>
  <!--row-->
</div>
<!--container-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2
        class="text-info mt-4 mb-3"
        id="A1"
        style="cursor: pointer"
        style="font-style: italic; font-family: system-ui"
      >
        Courses
      </h2>
    </div>
    <!--col-6-->

    <!-- <h2 id="C4" style="cursor: pointer;" >Chapter 4</h2> -->
  </div>
  <!--row-->
</div>
<!--container-->

<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-md-3">
      <div class="card mb-3" style="box-shadow: 1px 1px 12px #020001">
        <p><img src="image/B-Teck.jpg" class="h-100 w-100" alt="" /></p>
        <h5 class="text-center">Bachelor of Technology (B.Tech)</h5>
        <p class="text-center">
          B.Tech is a professional undergraduate engineering degree.
        </p>

        <center>
          <div class="mt-1">
            <button class="btn text-dark bg-danger mb-1">Register</button>
          </div>
        </center>
      </div>
      <!--card-->
    </div>
    <!--col-4-->

    <div class="col-md-3">
      <div
        class="card mb-3 'h-100 w-100'"
        style="box-shadow: 1px 1px 12px #020001"
      >
        <p>
          <img src="image/BCA.jpg" class="w-100" style="height: 6.5cm" />
        </p>
        <h5 class="text-center mb-1">Bachelor of Technology (B.Tech)</h5>
        <p class="mt-1 text-center">
          B.Tech is a professional undergraduate engineering degree.
        </p>

        <center>
          <div class="mt-1">
            <button class="btn text-dark bg-danger mb-1">Register</button>
          </div>
        </center>
      </div>
      <!--card-->
    </div>
    <!--col-4-->

    <div class="col-md-3">
      <div
        class="card mb-3 'h-100 w-100'"
        style="box-shadow: 1px 1px 12px #020001"
      >
        <p>
          <img src="image/MCA.jpg" class="w-100" style="height: 6.5cm" alt="" />
        </p>
        <h5 class="text-center mb-1">Bachelor of Technology (B.Tech)</h5>
        <p class="mt-1 text-center">
          B.Tech is a professional undergraduate engineering degree.
        </p>

        <center>
          <div class="mt-1">
            <button class="btn text-dark bg-danger mb-1">Register</button>
          </div>
        </center>
      </div>
      <!--card-->
    </div>
    <!--col-4-->

    <div class="col-md-3">
      <div class="card mb-3" style="box-shadow: 1px 1px 12px #020001">
        <p><img src="image/B-Teck.jpg" class="h-100 w-100" alt="" /></p>
        <h5 class="text-center mb-1">Bachelor of Technology (B.Tech)</h5>
        <p class="mt-1 text-center">
          B.Tech is a professional undergraduate engineering degree.
        </p>

        <center>
          <div class="mt-1">
            <button class="btn text-dark bg-danger mb-1">Register</button>
          </div>
        </center>
      </div>
      <!--card-->
    </div>
    <!--col-4-->
  </div>
  <!--row-->
</div>
<!--container-->

<%- include('./footer.ejs') %>
